:root {
  --oui-font-family: 'Roboto', sans-serif;
  --oui-font-size-base: 15px;

  /* colors */
  --oui-color-primary: 239 68 68;
  --oui-color-primary-light: 243 99 99;
  --oui-color-primary-darken: 190 40 40;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 239 68 68;
  --oui-color-link-light: 245 120 120;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 180 180 180;
  --oui-color-quaternary: 120 120 120;

  --oui-color-danger: 255 69 123;
  --oui-color-danger-light: 255 120 160;
  --oui-color-danger-darken: 210 40 90;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 100 240 180;
  --oui-color-success-darken: 20 180 130;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 24 24 24;
  --oui-color-fill-active: 36 36 36;

  --oui-color-base-1: 48 18 18;
  --oui-color-base-2: 40 15 15;
  --oui-color-base-3: 35 12 12;
  --oui-color-base-4: 30 10 10;
  --oui-color-base-5: 25 8 8;
  --oui-color-base-6: 20 6 6;
  --oui-color-base-7: 30 10 10;
  --oui-color-base-8: 25 8 8;
  --oui-color-base-9: 20 6 6;
  --oui-color-base-10: 14 4 4;

  --oui-color-base-foreground: 255 240 240;
  --oui-color-line: 60 20 20;

  --oui-color-trading-loss: 245 54 86;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 135 15 15;
  --oui-gradient-primary-end: 239 68 68;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 233 169;

 --OI_COLOR_GRADIENT_DANGER_START: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 255 80 80;
  --oui-gradient-brand-end: 180 20 20;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 1px;
  --oui-rounded: 1px;
  --oui-rounded-md: 30px;
  --oui-rounded-lg: 1px;
  --oui-rounded-xl: 1px;
  --oui-rounded-2xl: 1px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px !important;
}